*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
html{
  scroll-behavior: smooth;
}
.page-container{
  margin: 15px;
  overflow: hidden;
}

//Main container for all sections
.container {
    max-width: 1127px;
    margin: 0 auto;
    padding-left: 20px;
    padding-right: 20px;
  }
  //Main title style
  .title{
    color: $font-color;
    font: 100% $font-stack1;
    font-size: 36px;
    font-weight: 400;

  //Main description style
  }
  .description{
    color: $font-color2;
    font: 100% $font-stack;
    font-size: 16px;
    font-weight: 400;
    line-height: 26px;
  }
//Main btn style
.btn{
    background-color: $primary-color;
    border: none;
    color: $font-color;
    font: 100% $font-stack1;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 1.2px;
    line-height: 26px;
    text-transform: uppercase;
    transition: margin-left 4s 1s;
    cursor: pointer;
    background-image: url(../img/rectangle.png);
    background-repeat: no-repeat;
    background-size: contain;
}
 .btn-wrap:hover {
    transform: scale(0.95, 0.95);
}

//main Logo style
.logo{
    color: $font-color;
    font: 100% $font-stack;
    font-size: 24px;
    font-weight: 700;
    line-height: 26px;
    text-transform: uppercase;
    letter-spacing: 2.4px;
}
//main subtitle stile
.subtitle{
  color: $font-color;
  font: 100% $font-stack;
  font-weight: 400;
  padding-top: 15px;
}
//Book section
.book-section{
  .book{
    background-color:rgb(35, 35, 35, 0.9);
    border: none;
    max-width: 540px;
    padding: 50px 32px 50px 30px;
    &__subtitle{
      color: $font-color2;
      font: 100% $font-stack;
      font-size: 20px;
      font-weight: 400;
      letter-spacing: 1.5px;
      padding-bottom: 30px;
    }
    .description{
      padding-bottom: 48px;
    }
  }
}

.small-title{
  color: $font-color;
  font: 100% $font-stack;
  font-size: 20px;
  font-weight: 400;
  text-transform: uppercase;
  padding-bottom: 30px;
}