.info-section{
    background-color: #333333;
    padding-top: 46px;
    padding-bottom: 119px;
}
.info{
    display: flex;
    justify-content: space-between;
    &__item{
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    &__img-wrap{
        background-color: $bg-color1;
        width: 96px;
        height: 96px;
        border-radius: 50%;  
    }
    &__img{
      padding: 18px;
    }
    &__arc-wrap{
        overflow: hidden;
        height: 18px; 
    }
    &__arc{
        width: 300px;
        height: 95px;
        border: 5px dotted #ffffff;
        border-radius: 400px 400px 101px 101px / 95px 95px 64px 64px;

     }
    .title{
        font-size: 27px;
        padding-top: 15px;
        text-align: center;
    }
}

@media only screen and (max-width: 1200px) {
    .info__arc-wrap{

 display: none;
       }

    .info{
        flex-direction: column;
    }
}
@media only screen and (max-width: 800px) {

    .info .title{
        font-size: 24px;
    }
}
