#todoApp {
    padding: 10px;
    display: inline-block;
}

input {
    width: 100%;
}

#todoList {
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 5px;
}

.todoItem.completed {
    text-decoration: line-through;
}

.selected {
    background-color: royalblue;
    color: white;
    border-radius: 5px;
}